*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
    background-image: url("https://i.pinimg.com/originals/c1/2b/e0/c12be0faf08d2853a5934f8d2fdb24a2.gif");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.top{
    width: 100%;
    max-width: 530px;
    max-height: 2000px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #ffff;
    border-radius: 20px;
    padding: 0;
    text-align: center;
    display: block;
    margin: 20px auto;
}
.srch{
    width: 30px;
    align-content: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    text-align: center;
    justify-content: space-between;
    margin-left: 40px;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 20px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 50px;
    cursor : pointer;

}
.weather-icon{
    padding-top: 20px;
    width: 40%;
    height:60%;
}
.humidity{
    width: 50%;
    height:30%;
    font-size: 18px;
    margin: auto;
}
.wind{
    width: 48%;
    height:30%;
    margin: auto;
    font-size: 18px;
    white-space: nowrap;
    overflow:visible;
}
.temp{
    font-size: 80px;
}
.details{
    display:flex ;
    align-items: center;
    justify-content: space-around ;
    margin: auto 10% auto 10% ;
    padding: 0 20px;
    margin-top: 50px;
}